$clr-default:#183442;
$clr-secondary:#0ba751;
$clr-base:#282828;
$clr-white:#ffffff;
$clr-error:#fe0000;
$theme-bg:#f8f8f8;
$font-light:300;
$font-regular:400;
$font-semibold:600;
$font-bold:700;
$font: 'Montserrat',
sans-serif;